# Prototurk Session
PROTOTURK_SESSION=Bdze-PLg-ViTE-V8xq6BavloNkljjMJz8LuZkDf9TD4
PROTOTURK_CSRF=VLEpbsquc-D0oh2C9la5e0LuKkkgI1RCLpx6oOH4mUADNT1

# Configuration
TWITTER_USERNAME=kilicdarogluk
CHECK_INTERVAL_MINUTES=5
